<table>
  <tr>
    <th>Id</th>
    <th>Repository</th>
    <th>Created</th>
    <th>Size</th>
  </tr>
  {{#each dockerImages as |dockerImage|}}
  <tr>
    <td>{{#link-to 'images.detail' dockerImage}}{{dockerImage.shortId}}{{/link-to}}</td>
    <td>{{dockerImage.repoTags}}</td>
    <td>{{dockerImage.created}}</td>
    <td>{{dockerImage.size}}</td>
  </tr>
  {{/each}}
</table>
