<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Status</th>
    <th>Command</th>
  </tr>
  {{#each dockerContainers as |dockerContainer|}}
  <tr>
    <td>{{dockerContainer.shortId}}</td>
    <td>{{dockerContainer.name}}</td>
    <td>{{dockerContainer.status}}</td>
    <td>{{dockerContainer.command}}</td>
  </tr>
  {{/each}}
</table>
