{{#if session.isAuthenticated}}
<div class='nav-bar'>
  <div class='inner'>
    <div class='nav'>
      {{#link-to 'index'}}Home{{/link-to}}
      {{#link-to 'containers'}}Container{{/link-to}}
      {{#link-to 'users'}}User{{/link-to}}
      <a class='pull-right' {{action 'invalidateSession'}}>Logout</a>
    </div>
  </div>
</div>
{{/if}}
