<h2>
  {{t 'containers.index.containers'}}
  {{input class='search-field' type=text value=searchFilter placeholder=(t 'containers.index.search')}}
</h2>

{{docker-container-list dockerContainers=model searchFilter=searchFilter}}
